---
import Layout from '../layouts/Layout.astro';
import { Content } from '../content/spec/draft-00.md';
---

<Layout title="UOMP 规范 - User-Owned Memory Protocol">
  <div class="container spec-content">
    <Content />
  </div>
</Layout>
